#root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-image:url(./Imagens/Background.jpg);
    opacity: 0.8;
    background-size: contain;
    
}

.navList{


    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    gap: 25px;

}

.logo{
    width: 100px;
    display: flex;
    justify-content: flex-start;
}
.content{}